# Files #
*.class
.classpath
build.xml
DottedTextualNetSNMPMap.*
*.sqlite~

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
snmp4j-smi.jar
*.war
*.ear

# Documentation
*.pdf

# Directories #
test/
assessment/
output/*
!output/.gitkeep

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
*.classpath
/target/
lib/*
# Local tooling binaries
/tools/google-java-format.jar
